.textArea{
    width: 290px;
    height: 200px;
    resize: none;
    border: none;
    border-radius: 10px;
    text-indent: 10px;
    background-color: #E8F0FE;
    margin-bottom: 30px;
}
.textArea::placeholder{
    color: grey;
    font-size: 16px;
    font-weight: 600;
}