.input_box{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
}
.Input_Control{
    border-radius: 10px 0px 0px 10px !important;
    width: 400px;
    background-color: rgba(88, 85, 246, 0.245);
}